.contact__page--container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
}
.contact__main--content {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.contact__details {
  display: flex;

  /* align-items: center; */
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.contact__detail {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 30px;
}
i {
  font-size: 50px;
}
