.contact__page--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}
.contact__main--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contact__details {
  display: flex;
  background-color: red;
  width: 800px;
  flex-direction: column;
  justify-content: space-between;
}
.contact__detail {
  display: flex;
}

/* .icon-div {
  width: 120px;
  height: 120px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}  */
